.loginContainer {
  background-color: var(--blue);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.simbolo {
  width: 100%;
}

.logo {
  width: 22.5rem;
  margin-bottom: 6rem;
}

.loginContainer h1 {
  font-size: 2.25rem;
  color: var(--white);

  margin-bottom: 1.5rem;
}

.githubMessage {
  display: flex;
  width: 19.87rem;

  margin-bottom: 2.5rem;
}

.githubMessage img {
  width: 2.5rem;
  margin-right: 1.5rem;
}

.githubMessage p {
  color: #b2b9ff;
}
